/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
#user,#pass,#sinuss,#sinpass,#sinloc{
	-fx-text-fill: #a0a2ab;
}
#out:hover{
	-fx-text-fill: white;
}
#close:hover{
	-fx-opacity: 1;
}